.input {
    width: 442px;
    border-radius: 20px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}


.profile {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EBF0;
}

.profile>img {
    height: 14px;
}

.main {
    margin: 0 24px;
    width: 285px;
}

.main>h1 {
    font-size: 16px;
    color: #6B7280;
}

.main>input {
    border: none;
    border-bottom: 1px solid #E6E6EA;
    background: transparent;
    width: 285px;
    font-size: 16px;
}

.input>img {
    width: 14px;
}

@media (max-width: 640px) {
    .input {
        width: 370px;
        font-size: 14px;
        padding: 12px 0;
    }
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 1.5px solid #6B7280;
}