.input {
    width: 442px;
    border-radius: 20px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;

}

.input>h1 {
    position: absolute;
    top: 90px;
    left: 36px;
    font-size: 12px;
    color: #E7545C;
}

.input>div {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2EBF0;
}

.input>div>img {
    height: 14px;
}

.input>input {
    border: none;
    border-bottom: 1px solid #E6E6EA;
    padding: 8px 0;
    background: transparent;
    width: 311px;
    margin-left: 20px;
    font-size: 16px;
}

.input>input::placeholder {
    color: #6B7280;
}

@media (max-width: 640px) {
    .input {
        width: 370px;
        font-size: 14px;
        padding: 12px 0;
    }
}

.invalid {
    border: 1.5px solid #E7545C;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 1.5px solid #6B7280;
}