.button {
    height: 48px;
    width: 48px;
    padding: 18px 0;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border: 0px;
    background-color: transparent;
}

.button>img {
    height: 15px;
}

.left,
.right {
    background-color: white;
}

.cross {
    background-color: #4D545E;
}