.button {
    padding: 18px 0;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 442px;
    font-weight: 500;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 640px) {
    .button {
        width: 370px;
        font-size: 14px;
        padding: 12px 0;
    }
}

.SaveFilters {
    background-color: white;
    color: #893168;
    border: 1px solid #893168;
    width: 190px;
}

.SeeListings {
    background-color: #893168;
    color: white;
    width: 190px;
}

.Sort {
    background-color: #893168;
    color: white;
    width: 205px;
}

.icon {
    width: 24px;
    margin-right: 4px;
    vertical-align: middle;
}